.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.card {
  border-radius: 1.25rem;
  box-shadow:0 2rem 3rem rgb(132, 139, 200, 0.18);
  border:none;
}


#card-title {
  font-family: 'Libre Bodoni', serif;
  color: #7388ec;
}

.textquery {
  font-family: 'Libre Bodoni', serif;
  font-family: 'Source Serif Pro', serif;
  color:#ff7782;
}


body {
  background-color: rgba(132, 139, 200, 0.18);
}

.description {
  color: #7d8da1;
}

#brandnaming{
  font-family: 'Libre Bodoni', serif;
  font-family: 'Source Serif Pro', serif;
  font-family: 'Tapestry', cursive;
}

.footer{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

#modes{
  display:flex;
  justify-content: space-around;
  align-items:center;
}

#copyButton{
  display:flex;
  justify-content:space-around;
  
}